#map {
    height: 70vh; /* Use 70% of the viewport height */
    width: 70%; /* Use 70% of the viewport width */
    float: left; /* Float the map to the left */
}

.button-container {
    width: 30%; /* Take 30% of the viewport width */
    float: right; /* Float the container to the right */
    padding: 20px; /* Add padding for spacing */
}
